body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    font-family:  Arial, sans-serif;
    background: linear-gradient(180deg, rgba(63,72,204,1) 0%, rgba(21,24,65,1) 100%);
    user-select: none;
}

h1{
    text-align: center;
}

#gameCanvas{
    box-shadow: 10px 10px 20px black;
}

img{
    position: absolute;
    z-index: -1;
    width: 650px;
}

p{
    color: #E3B92A;
    text-align: center;
}